::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background: #ecd448;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff6700;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* html {
    background-color: #212121;
} */

body {
    background: url('../img/bg2.svg');
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
/* Default styles for larger screens */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333af;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title h1 {
    display: inline;
    margin: 10px;
}

#nav nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: flex-start; 
    }

    #title {
        width: 50; 
        text-align: center; 
        order: 1; 
    }

    #nav {
        width: 70;
        order: 2; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    #nav nav a {
        margin: 10 0; 
    }
}
#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

section {
    background-color: #333333af;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.glow-text {
    font-weight: bold;
    color: #000000; 
    text-shadow: 
        0 0 5px #f9dc03,  
        0 0 10px #f9dc03,  
        0 0 20px #f9dc03, 
        0 0 40px #f9dc03; 
    text-align: center;
}
.apply {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.apply:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.apply:hover .icon {
    transform: translate(4px);
}

.apply:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.apply::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 40em;
    /* border-radius: 12px; */
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.btn:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn:active {
    transform: scale(0.9);
}

#robotics {
    background-color: #f5ea5479;
    border-radius: 16px;
    padding: 10px;
}

.galleryEntry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em;
    justify-content: center;
}

.galleryEntry img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

/* 
.about {
    position: relative;
    font-family: inherit;
    font-size: 18px;
    border-radius: 40em;
    width: 8em;
    height: 3em;
    z-index: 1;
    color: white;
    cursor: pointer;
    overflow: hidden;
    border: none;
}

.about .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 3em;
    border-radius: 40em;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.473),
            rgba(150, 150, 150, 0.25));
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.about .blob {
    position: absolute;
    z-index: -1;
    border-radius: 5em;
    width: 5em;
    height: 3em;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.about .blob:nth-child(2) {
    left: 0em;
    top: 0;
    background: #ff930f;
}

.about .blob:nth-child(3) {
    left: 1.8em;
    top: 0;
    z-index: -1;
    background: #bf0fff;
}

.about .blob:nth-child(4) {
    left: 4em;
    top: -1em;
    background: #ff1b6b;
}

.about .blob:nth-child(5) {
    left: 4.3em;
    top: 1.6em;
    background: #0061ff;
}

.about:hover .blob:nth-child(2) {
    background: #0061ff;
}

.about:hover .blob:nth-child(3) {
    background: #ff1b6b;
}

.about:hover .blob:nth-child(4) {
    background: #bf0fff;
}

.about:hover .blob:nth-child(5) {
    background: #ff930f;
}

.about:hover .blob {
    transform: scale(1.3);
}

.about:active {
    border: 2px solid white;
} */


@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}